<!-- implement a value for the <title> element that 
    describes the content of the view -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- to display messages in a view -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>You're logged in</p>

<% const accountType = accountData.account_type; %>
<% const accountFirstName = accountData.account_firstname; %>
<% const accountId = accountData.account_id; %>
<div class="no-style">
  <h2>Welcome <%= accountFirstName %></h2>
  <p><a href="/account/update/<%= accountId %>">Update account information</a></p>

  <% if (accountType === "Employee" || accountType === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/">Manage Inventory</a></p>
  <% } %>
</div>