<!-- implement a value for the <title> element that 
    describes the content of the view -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- to display messages in a view -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- form -->
 <div class="login">
    <form  action="/inv/update" method="post" id="updateForm">
        <label for="invMake">Make:</label>
        <input type="text" name="inv_make" id="invMake" required value="<%= locals.inv_make %>">
        <br>
        <label for="invModel">Model:</label>
        <input type="text" id="invModel" name="inv_model" required value="<%= locals.inv_model %>">
        <br>
        <label for="invYear">Year:</label>
        <input type="text" id="invYear" name="inv_year" pattern="\d{4}" maxlength="4" required value="<%= locals.inv_year %>">
        <br>
        <label for="inv_description">Description:</label>
        <input type="text" id="inv_description" name="inv_description" required value="<%= locals.inv_description %>">
        <br>
        <label for="invImage">Image path:</label>
        <input type="text" id="invImage" name="inv_image" required value="<%= locals.inv_image %>" placeholder="/images/no-image.png">
        <br>
        <label for="invThumbnail">Thumbnail path:</label>
        <input type="text" id="invThumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>" placeholder="/images/no-image-tn.png">
        <br>
        <label for="invPrice">Price:</label>
        <input type="number" id="invPrice" name="inv_price" required value="<%= locals.inv_price %>">
        <br>
        <label for="invMiles">Miles:</label>
        <input type="number" id="invMiles" name="inv_miles" required value="<%= locals.inv_miles %>">
        <br>
        <label for="invColor">Color:</label>
        <input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>">
        <br>
        <label for="classificationList">Classification:</label>
        <%- classification %>
        <br>
        <button id="submit-button" type="submit" disabled>Update vehicle</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
    <script src="../../js/inv-update.js"></script>
</div>